<div class="card shadow-sm rounded p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input type="text" class="form-control mt-2 mb-2 ml-2 mr-2" placeholder="Filtar por tema e local" [(ngModel)]="filtroLista" />
      </div>
    </div>


    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>


  <table class="table table-striped table-hover" style="cursor:pointer">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button class="btn btn-outline-light btn-sm" type="button" (click)="mostrarImagem()">
            <i class="{{mostrar == false ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{mostrar == false ? 'Exibir' : 'Ocultar'}}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">QTD Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="evento && evento.length">
      <tr *ngFor="let item of eventoFiltrados" (click)="detalheEvento(item.id)">
        <td class="d-none d-md-table-cell">
          <img [collapse]="!mostrar"
               [isAnimated]="true"
               [src]="mostrarImagemURL(item.imagemURL)"
               [style.width.px]="width"
               [style.margin.px]="margin" />
        </td>
        <td>{{item.id}}</td>
        <td>{{item.tema}}</td>
        <td class="d-none d-md-table-cell">{{item.local}}</td>
        <td>{{item.dataEvento | dateTimeFormatPipe}}</td>
        <td class="d-none d-md-table-cell">{{item.qtdPesssoas}}</td>
        <td class="d-none d-md-table-cell">{{item.lote[0]?.nome | uppercase}}</td>
        <td>
          <!--<button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar" (click)="clicke()">
            <i class="fa fa-edit"></i>
            Editar
          </button>-->
          <button type="button" class="btn btn-danger btn-sm" (click)="showSuccess($event, item.id)" tooltip="Excluir">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!evento">
      <tr>
        <td colspan="8">
          <h5 class="text-center">
            Nenhum evento encontrado!
          </h5>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
